:root {
    --rollx1: 200px;
    --rollx2: 450px;
}

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-rows: 68px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100%;
}

main {
    height: 100%;
}

h1 {
    font-size: 2rem;
}

.background-main {
    display: block;
    height: 800px;
}

.grid-parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
.left-p { 
    grid-area: 1 / 1 / 6 / 3; 
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    background-color: antiquewhite;
}

.right-p { 
    grid-area: 1 / 3 / 6 / 6; 
    background-color: rgb(181, 224, 248);
}

#wordDiv {
    position: relative;
    left: 300px;
    width: 450px;
    cursor: pointer;
    animation: showIn 2s linear;
    background-color: rgb(18, 31, 120);
    padding: 20px;
    color: rgb(255, 255, 255);
}

@keyframes showIn {
    0% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

#wordDiv h1 {
    padding-bottom: 20px;
    border-bottom: 1px grey solid;
    line-height: 3rem;
}

#wordDiv p {
    padding: 10px;
    line-height: 1.5rem;
}

.wordContainer {
    position: relative;
    padding: 10px;
    z-index: 2;
    font-weight: bold;
}

.icon-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    padding: 10px;
    overflow: hidden;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
}

.icon-circle img {
    width: 100%;
}

.icon-1 {
    animation: icon-roll-1 1.75s ease-out forwards;
}

.icon-2 {
    animation: icon-roll-2 1.75s ease-out forwards;
}

@keyframes icon-roll-1 {
    0% {
        transform: translate(0px, 150px);
    }

    100% {
        transform: translate(var(--rollx1), 150px) rotate(1turn);;
    }
}

@keyframes icon-roll-2 {
    0% {
        transform: translate(0px, 150px);
    }

    100% {
        transform: translate(var(--rollx2), 150px) rotate(2turn);;
    }
}

.icon-desc {
    opacity: 0;
    display: block;
    width: 100px;
    position: absolute;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
    transform: translate(var(--rollx2), 100px);
    transition: opacity 0.75s;
}

.icon-desc-1 {
    transform: translate(var(--rollx1), 100px);
}

.icon-desc-2 {
    transform: translate(var(--rollx2), 100px);
}
