:root {
    --slide-go-x-axis: 0px;
}

.project-box-parent {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    width: 100vw;
    overflow: scroll;
    padding: 30px;
    cursor: grab;
}

.project-slide-animation {
    transform: translate(var(--slide-go-x-axis), 0px);
}

.project-box {
    user-select: none;
    display: inline-block;
    width: 350px;
    height: 400px;
    flex-shrink: 0;
    background-color: blue;
    margin: 0px 30px;
    color: white;
    border-radius: 5%;
}
