:root {
    --hello: 0px;
    --slide-go-x-axis: 0px;
}

.project-box-parent {
    position: relative;
    left: -20%;
    display: inline-flex;
    width: 100%;
    overflow: scroll;
}

.project-slide-animation {
    transform: translate(var(--slide-go-x-axis), 0px);
}

.project-box {
    display: inline-block;
    width: 250px;
    height: 450px;
    flex-shrink: 0;
    background-color: blue;
    margin: 10px 30px;
    color: white;
    border-radius: 5%;
}
