.project-box-wrapper {
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
}

.project-box-parent {
    position: relative;
    box-sizing: border-box;
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 30px;
    cursor: grab;
}

.project-box {
    user-select: none;
    width: 25%;
    height: 400px;
    flex-shrink: 0;
    background-color: blueviolet;
    margin: 0px 30px;
    border-radius: 5%;
}

.center-behind-box {
    width: 25%;
    height: 400px;
    margin: 30px auto;
    background-color: aqua;
}