.sidebar-parent {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: fixed;
    bottom: 70px;
    right: 70px;
    z-index: 9;
}

.sidebar-child {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    width: 17px;
    cursor: pointer;
}


.sidebar-content {
    background-color: blue;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    transition: border-radius 0.5s, transform 0.5s, background-color 0.5s;
}

.sidebar-child:hover .sidebar-content {
    border-radius: 5%;
    transform: scale(1.2, 1.2);
    background-color: transparent;
    border: 2px black solid;
}

.sidebar-active {
    border-radius: 5%;
    transform: scale(1.2, 1.2);
    background-color: black;
    border: 2px black solid;
    transition: border-radius 1s, transform 1s, background-color 1s;
}